.sub-title.atype-title{
  font-size: 75px;
}

.associatetype {
  font-size: 20px;
  width: 240px;
  height: 330px;
  cursor: pointer;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin: 6px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  background-color: #FFF;
  color: #2D3E4F;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.associatetype:hover, .associatetype-selected {
  background-color: #458CC8;
  color: #FFFFFF;
}

.associatetype div {
  text-align: center;
}

@media only screen and (max-width: 1150px) {
  .sub-title.atype-title {
    font-size: 54px;
  }
}

@media only screen and (max-width: 950px) {
  .sub-title.atype-title {
    font-size: 48px;
  }

  .associatetype {
    height: 120px;
    width: 90%;
    display: block;
    line-height: 120px;
    margin-top: 15px;
  }

  #associatetype-container {
    display: block;
  }
}

@media only screen and (max-width: 730px) {
  .associatetype {
    margin: auto;
    margin-top: 10px;
    font-size: 14px;
    line-height: 80px;
    height: 80px;
    width: 70%;
    box-shadow: none;
    border: 1px solid #eee;
  }
}

@media only screen and (max-width: 600px) {
  .sub-title.atype-title {
    font-size: 28px;
    margin-top: 5px;
  }
}