.countries-container {
  text-align: center;
}

.country {
  width: 69px;
  text-align: center;
  display: inline-block;
  background-color: #FFF;
  border-radius: 3px;
  margin: 9px;
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.country:hover, .country-selected {
  background-color: #458CC8;
}

.country:hover .country-text {
  color: #FFF;
}

.country-selected .country-text {
  color: #FFF;
}

.country-text {
  color: #2D3E4F;
  font-weight: 800;
}

.description.country-name {
  font-size: 24px;
  font-weight: 800;
}

@media only screen and (max-width: 600px) {
  .country {
    width: 48px;
    margin: 6px;
    font-size: 12px;
  }
}