@keyframes fade {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.final-component-container {
  text-align: center;
}

.final-input-container {
  margin-top: 30px;
}

.final-input-container div {
  display: inline-block;
}

#url-input {
  width: 100%;
  padding: 6px 50px 6px 50px;
  text-align: center;
  border: none;
  border-bottom: 9px solid #DDDDDD;
  font-size: 48px;
  font-family: 'Montserrat';
  font-weight: 800;
  color: #2D3E4F;
  transition: 0.2s ease-in-out;
  margin-top: 12px;
}

.final-content-container {
  text-align: center;
}

button {
  background-color: transparent;
  border: 3px solid #458CC8;
  color: #458CC8;
  cursor: pointer;
  margin: 0 auto;
  width: 80%;
  height: 100px;
  text-transform: uppercase;
  font-weight: 800;
  display: block;
  margin-bottom: 15px;
  font-size: 24px;
}

button:hover {
  background-color: #458CC8;
  color: #FFF;
}

button:disabled {
  background-color: #ddd;
  color: #666;
  border-color: #666;
  cursor: default;
}

.clip-boi-container {
  cursor: pointer;
}

.clip-boi {
  position: relative;
  top: 9px;
  height: 54px;
  margin-left: 10px;
}

.copied-text {
  background-color: #8DFF98;
  color: #2D3E4F;
  padding: 30px 0px 30px 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  animation: fade 2.5s ease-in-out;
  opacity: 0;
}

.unshortened-link-input {
  width: calc(100% - 36px);
  border: none;
  color: #2D3E4F;
  border: 1px solid #eee;
  padding: 9px 18px 9px 18px;
  border-radius: 18px;
}

.unshortened-link-input:focus {
  border: 1px solid #eee;
}

#unshortened-description-container div {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 1200px) {
  #url-input {
    padding: 6px 20px 6px 20px;
    border-bottom: 6px solid #DDDDDD;
    font-size: 40px;
  }

  .url-input-container {
    width: 90%;
  }

  .clip-boi {
    height: 40px;
  }

  #unshortened-description-container {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 950px) {
  #url-input {
    font-size: 24px;
  }

  .url-input-container {
    width: 80%;
  }

  button {
    width: 80%;
    height: 80px;
    font-size: 20px;
  }

  #unshortened-description-container {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  #url-input {
    font-size: 14px;
  }

  .unshortened-link-input {
    margin-top: 18px;
    width: calc(100% - 36px);
    padding: 9px 18px 9px 18px;
    border-radius: 12px;
    font-size: 10px;
  }

  .clip-boi {
    height: 30px;
  }

  button {
    font-size: 12px;
  }
}