@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,900');
@import url('https://fonts.googleapis.com/css?family=Lato');


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #458CC8;
  text-decoration: none;
}

.App {
  background-color: #FFFFFF;
}

.component-container {
  margin: auto;
  width: 800px;
}

.signup-container {
  width: 100%;
}

.nav, .title, .sub-title, .step, .menu-component-container, .beta-logo, .circle-text, .country, .associatetype, #shop-circle-text, .product-img, .add-product-type, .shop-step, .products-sidebar-title, .cart-title, .generate-link, .clip-boi, .animation-logo-container, .cart-image, .cart-item-type {
  user-select: none;
}

.nav {
  user-select: none;
  position: fixed;
  z-index: 100;
  margin-bottom: 60px;
  width: 100%;
  height: 123px; /* 63px */
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  padding: 30px 60px 20px 60px;
  cursor: pointer;
}

.logo {
  height: 75px;
}

.beta-container {
  background-color: #458CC8;
  position: fixed;
  width: 120px;
  height: 120px;
  top: -60px;
  left: -60px;
  z-index: 103;
  transform: rotate(-45deg);
}

.beta-logo {
  width: 120px;
  position: absolute;
  bottom: 9px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  font-weight: 800;
  text-transform: uppercase;
  z-index: 104;
}

.ham-svg {
  width: 60px;
  height: 60px;
}

.menu-item {
  color: #2D3E4F;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 900;
}

.step-container {
  display: flex;
  justify-content: center;
}

.step {
  position: fixed;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: calc(100vh - 123px);
  font-weight: 800;
  font-size: 24px;
  cursor: pointer;
  color: #2D3E4F;
}

#prev-step {
  left: 0px;
}

#next-step {
  right: 0px;
}

.signup-container, .step {
  margin-top: 123px;
}

.step:hover {
  background-color: #2D3E4F;
  color: #FFF;
  font-size: 26px;
}

/* .signup-container {
  display: flex;
  justify-content: center;
} */

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.title-container {
  margin-top: 0px;
}

.title, .sub-title {
  font-weight: 800;
  color: #458CC8;
  border-bottom: 6px solid #DDD;
}

.title {
  font-size: 100px;
}

.sub-title {
  font-size: 80px;
}

.description {
  color: #2D3E4F;
  text-align: center;
  width: 600px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

@media only screen and (max-width: 1200px) {
  .step {
    width: 200px;
  }
}


@media only screen and (max-width: 1150px) {
  .component-container {
    width: 600px;
  }

  .content-container {
    margin: 0px 0px 40px 0px;
  }
}

@media only screen and (max-width: 950px) {
  .component-container {
    width: 480px;
  }

  .title {
    font-size: 80px;
  }

  .sub-title {
    font-size: 64px;
  }

  .step {
    width: 120px;
    font-size: 16px;
  }

  .step:hover {
    font-size: 16px;
  }
}

@media only screen and (max-width: 730px) {
  .step {
    width: 75px;
  }
}

@media only screen and (max-width: 600px) {
  .signup-container, .step {
    margin-top: 123px;
  }

  .component-container {
    margin-top: 69px;
    width: 240px;
  }

  .shop-component-container {
    margin-top: 0px;
  }

  .nav {
    border-bottom: 2px solid #eee;
  }

  .nav-item {
    padding: 15px 15px 10px 15px;
  }

  .title {
    font-size: 48px;
  }

  .sub-title {
    font-size: 36px;
  }

  .description {
    font-size: 14px;
    line-height: 20px;
  }

  .beta-container {
    width: 90px;
    height: 90px;
    top: -45px;
    left: -45px;
  }
  
  .beta-logo {
    width: 90px;
    font-size: 12px;
  }
}