.shop-circle {
  transition: 0.4s ease-in-out;
  width: 250px;
  height: 250px;
  background-color: #458CC8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shop-circle:hover {
  transition: 0.4s ease-in-out;
  border-radius: 3px;
  width: 400px;
}

.bag-img {
  transition: 0.3s ease-in-out;
  width: 70px;
  margin: 20px;
}

.shop-circle div {
  display: inline-block;
}

#shop-circle-text {
  transition: 0.3s ease-in-out;
  font-size: 24px;
  width: 0px;
  overflow: hidden;
  color: #FFF;
  font-weight: 900;
}

.shop-circle:hover #shop-circle-text {
  display: inline-block;
  transition: 0.2s ease-in-out;
  transition-delay: 0.4s;
  width: 80px;
}

.shop-circle:hover .bag-img{
  transition: 0.6s ease-in-out;
  width: 40px;
}

.shop-menu-container {
  width: 100%;
}

.shop-menu-container {
  display: flex;
}

.products-sidebar {
  text-align: left;
  width: 420px;
  color: #2D3E4F;
  border-right: 3px solid #eeeeee;
}

.products-sidebar-text {
  margin: 54px;
}

.products-sidebar-title {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 30px;
}

.products-container {
  text-align: center;
  overflow: scroll;
  width: 100%;
  height: calc(100vh - 123px);
}

.product {
  display: inline-block;
  width: 180px;
  border: 1px solid #2D3E4F;
  margin: 15px;
}

.product-img {
  background-color: #FFF;
  text-align: center;
  vertical-align: middle;
  line-height: 180px;
  padding: 20px;
  width: 140px;
  height: 140px;
  color: #458CC8;
  font-weight: 800;
  font-size: 20px;
}

.product-info {
  text-align: center;
  padding: 12px;
  overflow: hidden;
  font-size: 12px;
  background-color: #2D3E4F;
  color: #FFF;
}

.right-shop-container {
  margin-top: 74px;
  margin-right: 54px;
  width: 360px;
  height: calc(100vh - 197px);
  text-align: right;
  overflow: scroll;
}

.exit-shop {
  text-align: right;
  cursor: pointer;
  padding: 10px;
}

.exit-shop:hover svg {
  transform: rotate(90deg);
  stroke-width: 10px;
  transition: 0.3s ease-in-out;
}

.exit-svg {
  position: absolute;
  top: 153px;
  right: 54px;
  transition: 0.2s ease-in-out;
  width: 24px;
  stroke-width: 6px;
  border: 4px solid #ff0000;
  border-radius: 50%;
  padding: 10px;
  background-color: #FFF;
}

.exit-text {
  font-size: 12px;
}

#copy-textarea {
  width: 0px;
  height: 0px;
}

button {
  background-color: transparent;
  border: 1px solid #458CC8;
  color: #458CC8;
  padding: 18px;
  cursor: pointer;
  width: 100%;
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
}

button:hover {
  background-color: #458CC8;
  color: #FFF;
}

.generate-link {
  margin-top: 15px;
}

.choose-store {
  background-color: #2D3E4F;
}

.add-product-type {
  display: inline-block;
  width: calc(50% - 22px);
  cursor: pointer;
  padding: 10px;
  font-size: 10px;
  color: #FFF;
  text-align: center;
  border: 1px solid #FFF;
}

.add-product-type:hover {
  color: #2D3E4F;
  background-color: #FFF;
}

.cart-item-container {
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom: 15px;
}

/* .cart-item-container:hover {
  background-color: #eee;
} */

.cart-image {
  padding: 15px;
  width: 45px;
}

.cart-item-name {
  border-top: 1px solid #ccc;
  font-size: 14px;
  padding-top: 15px
}

.cart-item-type {
  color: #2D3E4F;
  opacity: 0.7;
  font-size: 12px;
  padding-bottom: 15px;
}