.shop-circle {
  transition: 0.4s ease-in-out;
  width: 250px;
  height: 250px;
  background-color: #458CC8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shop-circle:hover {
  transition: 0.4s ease-in-out;
  border-radius: 3px;
  width: 400px;
}

.bag-img {
  transition: 0.3s ease-in-out;
  width: 70px;
  margin: 20px;
}

.shop-circle div {
  display: inline-block;
}

#shop-circle-text {
  transition: 0.3s ease-in-out;
  font-size: 24px;
  width: 0px;
  overflow: hidden;
  color: #FFF;
  font-weight: 900;
}

.shop-circle:hover #shop-circle-text {
  display: inline-block;
  transition: 0.2s ease-in-out;
  transition-delay: 0.4s;
  width: 80px;
}

.shop-circle:hover .bag-img{
  transition: 0.6s ease-in-out;
  width: 40px;
}

.shop-menu-container {
  width: 100%;
}

.shop-menu-container {
  display: flex;
}

.products-sidebar {
  text-align: left;
  width: 420px;
  border-right: 3px solid #eeeeee;
}

.products-sidebar-text {
  margin: 54px;
}

.products-sidebar-title, .cart-title {
  color: #2D3E4F;
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 30px;
}

.products-container {
  text-align: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: calc(100vh - 123px);
}

.product {
  display: inline-block;
  width: 180px;
  border: 1px solid #2D3E4F;
  margin: 15px;
}

.product-img {
  background-color: #FFF;
  text-align: center;
  vertical-align: middle;
  line-height: 180px;
  padding: 20px;
  width: 140px;
  height: 140px;
  color: #458CC8;
  font-weight: 800;
  font-size: 14px;
}

.product-info {
  text-align: center;
  padding: 12px;
  overflow: hidden;
  font-size: 12px;
  background-color: #2D3E4F;
  color: #FFF;
}

.right-shop-container {
  padding: 54px 54px 0px 30px;
  width: 360px;
  height: calc(100vh - 177px);
  text-align: right;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  border-left: 3px solid #eee;
}

#copy-textarea {
  width: 0px;
  height: 0px;
}

.choose-store {
  background-color: #2D3E4F;
}

.add-product-type {
  display: inline-block;
  width: calc(50% - 22px);
  cursor: pointer;
  padding: 10px;
  font-size: 10px;
  color: #FFF;
  text-align: center;
  border: 1px solid #FFF;
}

.add-product-type:hover {
  color: #2D3E4F;
  background-color: #FFF;
}

.cart-item-container {
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  z-index: 0;
}

/* .cart-item-container:hover {
  background-color: #eee;
} */

.cart-image {
  padding: 10px;
  width: 55px;
}

.cart-item-name {
  border-top: 1px solid #ccc;
  font-size: 14px;
  padding-top: 9px;
}

.cart-item-type {
  color: #2D3E4F;
  opacity: 0.7;
  font-size: 12px;
  padding-bottom: 9px;
  text-transform: capitalize;
}

.shop-step {
  font-size: 12px;
  position: absolute;
  z-index: 5;
  top: 50%;
  background-color: #458CC8;
  color: #FFF;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.shop-step:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}

.cart-prev-step {
  left: 15px;
}

.cart-next-step {
  right: 15px;
}

.cart-item-remove {
  cursor: pointer;
}

.cart-item-remove:hover svg {
  transform: rotate(90deg);
  stroke-width: 5px;
  transition: 0.3s ease-in-out;
}

.remove-svg {
  position: absolute;
  left: -10px;
  top: -10px;
  transition: 0.2s ease-in-out;
  width: 20px;
  stroke-width: 4px;
  border: 2px solid #ff4646;
  border-radius: 50%;
  padding: 3px;
  background-color: #FFF;
}

@media only screen and (max-width: 970px) {
  .products-sidebar {
    display: none;
  }
}

@media only screen and (max-width: 730px) {
  .right-shop-container {
    width: 180px;
    padding: 54px 12px 0px 12px;
  }

  .cart-title {
    font-size: 24px;
  }

  .shop-step {
    position: fixed;
    font-size: 10px;
    height: 54px;
    width: 100%;
    line-height: 54px;
    top: inherit;
    right: 0;
    bottom: 0px;
    border-radius: 0px;
    text-transform: uppercase;
  }

  .shop-step:hover {
    transform: none;
  }

  .cart-item-name {
    font-size: 12px;
  }

  .cart-item-type {
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .shop-circle {
    width: 150px;
    height: 150px;
  }
  
  .shop-circle:hover {
    width: 240px;
  }

  .shop-circle:hover #shop-circle-text {
    width: 48px;
  }
  
  .shop-circle:hover .bag-img{
    width: 24px;
  }

  #shop-circle-text {
    font-size: 14px;
  }
  
  .shop-circle:hover #shop-circle-text {
    width: 48px;
  }

  .bag-img {
    width: 33px;
  }
}