.username-input {
  width: calc(100% - 18px);
  padding: 6px 9px 6px 9px;
  text-align: center;
  border: none;
  border-bottom: 9px solid #DDDDDD;
  font-size: 48px;
  font-family: 'Montserrat';
  font-weight: 800;
  text-transform: uppercase;
  color: #2D3E4F;
  transition: 0.2s ease-in-out;
}

input:focus {
  outline: none;
  border-bottom: 12px solid #458CC8;
  transition: 0.2s ease-in-out;
}

.input-container {
  height: 100px;
}

@media only screen and (max-width: 1150px) {
  .username-input {
    font-size: 40px;
  }
}

@media only screen and (max-width: 950px) {
  .username-input {
    font-size: 34px;
  }
}

@media only screen and (max-width: 600px) {
  .username-input {
    font-size: 20px;
  }
}